<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="post">
    <input type="text" name="text" placeholder="Введите сообщениие" />
    <input type="text" name="tag" placeholder="Тэг">
    <button type="submit">Добавить</button>
</form>
    <div>Список сообщений</div>
    <div>
        <b th:text="#{home.welcome}">ID</b>
        <span>Text</span>
        <i>Tag</i>
    </div>
</body>
</html>